.container_filters {
    display: flex;
    justify-content: center;
}

.filters {
    background-color: var(--blue);
    margin: 1rem;
    border-radius: 20px;
    width: 78%;
    transition: 0.3s;
    margin-bottom: 2rem;
    padding: 0.3rem;
}

.txt_filters {
    color: var(--white);
    padding: 0.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font: 400 18px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

.txt_filters:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
    transition: 0.3s;
    border-radius: 10px;
}

#reset_btn {
    color: var(--white);
    background-color: var(--blue);
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 9rem;
    border: none;
    font: 400 18px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#reset_btn:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
    border-radius: 10px;
    transition: 0.3s;
}

.filterchoosen {
    background-color: var(--dark-blue);
    border-radius: 10px;
    transition: 0.3s;
}

.all {
    display: flex;
}

.none {
    display: none;
}

#search {
    margin: 0.6rem;
    width: 70%;
    margin-left: 17rem;
    border-radius: 10px;
    padding: 0.2rem;
    font: 400 12px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
}

.card-container {
    display: flex;  
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: center;
}

.card {
    text-align: center;
    width: 285px;
    margin: 28px;
    border-radius: 30px;
    background-image: url(../img/backgrounds/2.png);
    background-size: cover;
    transition: 0.3s;
    animation-duration: 2s;
    animation-name: pop-up;
    border: 8px solid var(--white);
}


.card:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: 0.3s;
}

.cardsImg{
    width: 250px;
    height: 310px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding-bottom: 1rem;
    padding: 1rem;
}

.card h2 {
    color: var(--white);
    background-color: rgb(233, 135, 6, 1);
    padding: 0.4rem;
    width: 80%;
    clip-path: polygon(6% 0, 95% 0, 100% 50%, 95% 100%, 6% 100%, 0% 50%);
    margin: 1rem;
    font: 600 28px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    margin-top: -6rem;
    position: relative;
    margin-left: 1.5rem;
    font-style: italic;
}

.powerContainer {
    display: flex;
    justify-content: center;
}

.card h4 {
    background-color: rgb(233, 135, 6, 1);;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 75%, 95% 100%, 5% 100%, 0 75%, 0% 30%);
    color: var(--white);
    text-align: center;
    padding: 0.49rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 80%;
    font: 500 20px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
}

.card h5 {
    position: relative;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.832);
    backdrop-filter: blur(5px);
    width: 80%;
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    z-index: 1;
    height: 25.5px;
    font: 500 18px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


