*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_bg {
    background-image: url(../img/backgrounds/Goku.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}

img {
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

.trade_container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 2rem;
    width: 10%;
}

.trade {
    width: 45%;
    background-color: var(--orange);
    border-radius: 3rem;
    transition: 0.3s;
}

.trade:hover {
    background-color: var(--dark-orange);
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.none_trade {
    display: none;
}

.interact {
    z-index: 1;
    width: 50%;
    height: 20%;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

